@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.wrapper {}



body {
    font-family: 'Open Sans', sans-serif;
}


.container {
    max-width: 800px;
    margin: 0 auto;
}

.case {
    max-width: 750px;
    margin: 0 auto;
}



.text {
    line-height: 130%;
}




.page {}

.page__earth {
    background-color: #79DCFD;

    padding: 30px 0 51px;
}



.header {
    background-color: #057BA3;

    padding: 9px 0;
}

.header__logo {
    font-family: 'Oswald', Times;

    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #0EBCFA;
}



.earth {}

.earth__heading {
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #003F5C;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    margin-bottom: 10px;
}

.earth__wrap-image {
    text-align: right;

    margin-bottom: 18px;
}

.earth__img {
    border: 5px solid #FFFFFF;
    border-radius: 3px;

    max-width: 100%;
}

.earth__text {
    color: #300A3E;
}